#Tips_Api .accordion-button {
  background-color: #f1f1f1;
  color: #444;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  text-align: left;
  outline: none;
  transition: 0.4s;
  margin: 0 0 15px;
  border: 2px solid #000;
  border-radius: 4px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.19);
  border-color: #61affe;
  background: rgba(97, 175, 254, 0.1);
}

#Tips_Api .accordion-button.active,
.accordion-button:hover {
  background-color: #ccc;
}

#Tips_Api .accordion-content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f9f9f9;
}
#Tips_Api span.method {
  font-size: 14px;
  font-weight: 700;
  min-width: 80px;
  padding: 6px 15px;
  text-align: center;
  border-radius: 3px;
  background: #000;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  color: #fff;
  background: #61affe;
}
#Tips_Api span.api_url {
  font-size: 16px;
  align-items: center;
  word-break: break-word;
  padding: 0 10px;
  font-weight: 600;
  color: #3b4151;
}
#Tips_Api .api_response {
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: Consolas, monospace;
  font-size: 14px;
  color: #333;
}
#Tips_Api span.api_res_title {
  font-size: 14px;
  font-weight: 600;
}
#Tips_Api h3.para_title {
    margin-bottom: 5px;
    font-size: 14px;
}
.parameters {
    margin-bottom: 15px;
}
span.para_req {
    color: red;
}
span.para_req:after {
    font-size: 10px;
    position: relative;
    top: -6px;
    padding: 5px;
    content: "required";
    color: red;
}
span.para_des {
    font-weight: 500;
    margin-left: 20px;
}
